<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        {#<h1>The Dashboard</h1>#}
                        <h3>{{ news.title }}</h3>
                        <hr class="intro-divider">
                    </div>
                    <div class="details-news">
                        <div class="row">
                            {% for image in news.images %}
                                <div class="col-md-6">
                                    <div class="thumbnail">
                                        <img src="{{ image }}" alt="No Image" style="width:100%">
                                        <div class="caption">
                                            <p>{{ news.title }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div>{{ news.details|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}