<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    {# <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Project Dream Team</h1>
                        <h3>The best company in the world!</h3>
                        <hr class="intro-divider">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <div class="container">
        {% for heading in headings %}
            <blockquote class="blockquote text-right">
                <p class="mb-0">{{ heading.title }}</p>
                <div class="blockquote-footer">Published in
                    <cite><a target="_blank" href="{{ heading.source_url }}">{{ heading.source }}</a></cite>
                    at {{ heading.published }}. <a href="{{ url_for('home.news_details', title=heading.title) }}">Details</a>
                </div>
            </blockquote>
        {% endfor %}
    </div>
{% endblock %}