<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Project Dream Team</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top topnav">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home.homepage') }}">Project Dream Team</a>
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Modify nav bar menu -->
            <ul class="navbar-nav justify-content-end">
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link"><i class="fa fa-user"></i> Hi, {{ current_user.username }}!</a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    {% block body %}
    {% endblock %}
    <div class="push"></div>
</div>
<footer>
    <div class="container">
        <!-- Modify footer menu -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ url_for('home.homepage') }}">Home</a></li>
            <li class="list-inline-item footer-menu-divider">⋅</li>
            {% if current_user.is_authenticated %}
                <li class="list-inline-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li class="list-inline-item"><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li class="list-inline-item footer-menu-divider">⋅</li>
                <li class="list-inline-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
        <p class="copyright text-muted small">Copyright © 2016. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>